body {
    margin: 0;
    font-family: system-ui;
}

.hero{
    background-color: black;
    background-image: url("food.jpg");
    color: white;
    
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}